:root{
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

html {
 font-size: 18px;   
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
}

h1{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--white);
}

p{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--VeryDarkGray);
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }


.container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
}

.top__item {
    text-align: center;
    background-image: url(images/pattern-bg-desktop.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ip_address::placeholder {
    color: var(--VeryDarkGray);
    font-weight: 500;
}

form {
    display: flex;
    width: min(100% - 20%, 25rem);
    margin: auto;
}

.ip_address {
    padding: 1.5em;
    border-radius: 1rem 0 0 1rem;
    border: none;
    flex-grow: 2;
}

.btn {
    background-color: hsl(0, 0%, 17%);
    padding: 1em;
    border-radius: 0 1em 1em 0;
    border: none;
    display: inline-block;
}

.bottom__item {
    flex-grow: 2;
    flex-basis: 50%;
    position: relative;
}

.overlay {
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50px);
    background-color: white;
    z-index: 899;
}


.item {
    border-right: .1px rgba(167, 167, 167, 0.822) solid;
    text-align: left;
    flex-grow: 1;
}

.item:last-child {
    border: none;
}

.item__title {
    color: hsl(0, 0%, 59%);
    font-weight: 700;
    font-size: .5rem;
    letter-spacing: 4px;
    text-align: left;
    text-transform: uppercase;
}

#map {
    height: 100%;
}

@media (max-width: 600px) {
    .top__item{
        background-image: url(images/pattern-bg-mobile.png);
        background-position: center;
        background-size: cover;
        padding-block-end: 1rem;
        padding-inline: 0;
    }

    .overlay {
        flex-direction: column;
    }

    .item {
        border: none;
        text-align: center;
    }

    .item__title{
        font-size: 1em;
        text-align: center;
    }

    .overlay {
        transform: translate(-50%, -120px);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* opacity: .8; */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(226, 16, 226);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
